* {
    box-sizing: border-box;
}

.nanter-container {
    width: 450px;
    margin: 20px auto;
}

.nanter-container .nanter {
    height: 450px;
    width: 100%;
    background-image: url('../images/bg-gif.gif');
    background-size: contain;
    position: relative;
}

.pecas {
    height: 100%;
    width: 100%;
}

.peca {
    width: 3%;
    height: 3%;
    border: 1.5px solid;
    border-radius: 20px;
    position: absolute;
    transform: translate(50%, 50%);
    transition: all .2s;

    z-index: 1;

    /* top: 15%;
    left: 50%; */
}

.peca.highlight {
    cursor: pointer;
    border: 2px dashed;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {
        transform: translate(50%, 50%) rotate(0deg);
    }

    50% {
        transform: translate(50%, 50%) rotate(180deg) scale(1.8);
    }

    100% {
        transform: translate(50%, 50%) rotate(360deg);
    }
}

[PID="P1"].peca {
    background-color: white;
    border-color: white;
    background-image: url('../images/ilha-luanda.jpg');
    background-size: contain;
}

[PID="P2"].peca {
    background-color: blue;
    border-color: blue;
    background-image: url('../images/dados.jpg');
    background-size: contain;
}

[PID="P3"].peca {
    background-color: #f0ff1a;
    border-color: #f0ff1a;
    background-image: url('../images/fundo-3.jpeg');
    background-size: contain;
}

[PID="P4"].peca {
    background-color: #f00606;
    border-color: #f00606;
    background-image: url('../images/fundo-1.jpg');
    background-size: contain;
}

.player-base {
    width: 37%;
    height: 37%;
    border: 30px solid;
    position: absolute;
}

.player-bases [PID="P1"].player-base {
    bottom: 0;
    left: 0;
    border-color: #343536;
    background-image: url('../images/ilha-luanda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.player-bases [PID="P2"].player-base {
    top: 0;
    background-image: url('../images/ilha-luanda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    border-color: #343536;
}

.player-bases [PID="P3"].player-base {
    top: 0;
    left: 0;
    border-color: #343536;
    background-image: url('../images/ilha-luanda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.player-bases [PID="P4"].player-base {
    bottom: 0;
    right: 0;
    border-color: #343536;
    background-image: url('../images/ilha-luanda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.player-base.highlight {
    animation: border-blink .5s infinite alternate-reverse;

}

@keyframes border-blink {
    50% {
        border-color: rgba(255, 255, 255, 0.8);
    }
}

.btn {
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn, .btn-reset{
    width: auto;
    height: auto;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: green;
}

.btn-reset:hover{
    background-color: #18412a;
}

.btn:disabled {
    opacity: 0.5;
}

.btn-dice {
    background-color: #343536;
    font-weight: bold;
    color: white;
}

.btn-dice:hover{
    background-color: black;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.dice-value {
    font-size: 24px;
    font-weight: bold;
}